*{
    margin: 0;
    padding: 0;
    
}
.premier, .deuxieme, .troisieme, .quatrieme{
    
    
    position: relative;
}

.premier{
    left: 0px;
    background-color: lightgray;
    visibility: hidden;
}
.quatrieme{
    background-color: lightgray;
    visibility: hidden;
}

#container{
    display: flex;
    justify-content: space-between;
    position: relative;
}

#container2{
    display: flex;
    justify-content: space-between;
   
}
.soum{
    margin-left: 420px;
    width: 100px;
    height: 50px;
    box-shadow: 0px 0px 10px #777,
    0px 10px 10px -5px RGBa(220,120,0,0.5);
}


.login{
   margin-right: 420px;
   width: 100px;
   box-shadow: 0px 0px 10px #777,
   0px 10px 10px -5px RGBa(220,120,0,0.5);
}

body{
    background-image: url(beach.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-family: 'Noto Sans JP', sans-serif;
}
